<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='tudor.css') }}" />
    <title>{% block title %}{{ opts.get_title() }}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="header">
        {% block header %}
        {% endblock %}
    </div>
    {% block content %}{% endblock %}
    <p id="footer">
        {% block footer %}
            {% if current_user.is_authenticated() %}
              <small>Logged in as {{ current_user.email }} - <a href="{{ url_for('logout') }}">logout</a></small><br/>
            {% endif %}
            <small>Tudor is &copy; Copyright 2016 by <a href="http://metaindu.com/">metaindu</a> and <a href="http://izrik.com">izrik</a>.</small><br/>
            <small>Revision: <code>{{ opts.get_revision() }}</code></small>
        {% endblock %}
    </p>
</body>
</html>
