<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <link rel="stylesheet" href="../static/tudor.css" />
    <title>{% block title %}{{ opts.get_title() }}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <div id="footer">
        {% block footer %}
        Tudor is &copy; Copyright 2015 by <a href="http://metaindu.com/">metaindu</a> and <a href="http://izrik.com">izrik</a>.
        {% endblock %}
    </div>
</body>
</html>
