<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tudor - Editing "{{ task.summary if task.summary != None }}" (ID {{task.id}})</title>
</head>

<body>
<div>
    <form action="edit" method="post" enctype="multipart/form-data">
        <table>
            <tr><td>ID</td><td>{{ task.id }}</td></tr>
            <tr><td>Summary</td><td><input type="text" name="summary" value="{{ task.summary if task.summary != None }}" /></td></tr>
            <tr><td>Description</td><td><textarea name="description" rows="24" cols="80">{{ task.description if task.description != None }}</textarea> </td></tr>
            <tr><td>Deadline</td><td><input type="text" name="deadline" value="{{ task.deadline if task.deadline != None }}"></td></tr>
            <tr><td>Done?</td><td><input type="checkbox" name="is_done" {% if task.is_done %} checked {% endif %} /></td></tr>
            <tr><td>Deleted?</td><td><input type="checkbox" name="is_deleted" {% if task.is_deleted %} checked {% endif %} /></td></tr>
            <tr><td>Order #</td><td><input type="text" name="order_num" value="{{ task.order_num if task.order_num != None }}" /></td></tr>
            <tr><td>Parent ID</td><td><input type="text" name="parent_id" value="{{ task.parent_id if task.parent_id != None }}" /></td></tr>
        </table>
        <input type="submit" />
    </form>
</div>
<div>
    <p><a href="{{ url_for('view_task', id=task.id) }}">back</a></p>
    <p><a href="{{ url_for('index') }}">main</a></p>
</div>
</body>
</html>
