{% extends "base.t.html" %}
{% block title %}{{ super() }} - Editing "{{ tag.value }}" (ID {{tag.id}}){% endblock %}
{% block header_sub_text %}- Editing "{{ tag.value }}" (ID {{tag.id}}){% endblock %}
{% block content %}
<div class="container">
<div>
    <form action="edit" method="post" enctype="multipart/form-data">
        <table>
            <tr><td>ID</td><td>{{ tag.id }}</td></tr>
            <tr><td>Value</td><td><input type="text" name="value" value="{{ tag.value }}" /></td></tr>
            <tr><td>Description</td><td><textarea name="description" rows="24" cols="80">{{ tag.description if tag.description != None }}</textarea> </td></tr>
        </table>
        <input type="submit" value="Save"/>
    </form>
</div>
<div>
    <p><a href="{{ url_for('view_tag', id=tag.id) }}">back</a></p>
    <p><a href="{{ url_for('index') }}">main</a></p>
</div>
</div>
{% endblock %}
