{% extends "base.t.html" %}
{% block title %}Import - {{ super() }}{% endblock %}
{% block header_sub_text %}Import{% endblock %}
{% block content %}
<div class="container">
<div>
    <h4>Import</h4>
    <form action="{{ url_for('import_data') }}" method="post" enctype="multipart/form-data">
        <table>
            <thead><tr><th>Source</th></tr></thead>
            <tr class="odd"><td>Specify a file: <br/><input type="file" name="file" /></td></tr>
            <tr class="even"><td>Or enter the raw data: <br/><textarea name="raw"></textarea></td></tr>
            <tr class="odd"><td><input type="submit" value="Import" class="btn btn-default"/></td></tr>
        </table>
    </form>
</div>
</div>
{% endblock %}
