<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tudor</title>
</head>

<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Summary</th>
            <th>Done?</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        {% macro render_task(task, depth=0) -%}
        <tr>
            <td>{{task.id}}</td>
            <td style="padding-left: {{depth*1.5}}em">
                <a href="{{ url_for('view_task', id=task.id) }}">{{ task.summary if task.summary != None }}</a>
            </td>
            <td>
                {% if task.is_done %}
                    done
                {% else %}
                    not done
                {% endif %}
            </td>
            <td>
                {% if task.is_done %}
                    <a href="{{ url_for('task_undo', id=task.id) }}">(undo)</a>
                {% else %}
                    <a href="{{ url_for('task_done', id=task.id) }}">(done)</a>
                {% endif %}
            </td>
            <td>
                {% if task.is_deleted %}
                    <a href="{{ url_for('undelete_task', id=task.id) }}">(undelete)</a>
                    <a href="{{ url_for('purge_task', id=task.id) }}"><small>(purge)</small></a>
                {% else %}
                    <a href="{{ url_for('delete_task', id=task.id) }}">(delete)</a>
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('move_task_left', id=task.id, show_deleted=show_deleted) }}"><img src="static/left_arrow.png" /></a>
                <a href="{{ url_for('move_task_up', id=task.id, show_deleted=show_deleted) }}"><img src="static/up_arrow.png" /></a>
                <a href="{{ url_for('move_task_down', id=task.id, show_deleted=show_deleted) }}"><img src="static/down_arrow.png" /></a>
                <a href="{{ url_for('move_task_right', id=task.id, show_deleted=show_deleted) }}"><img src="static/right_arrow.png" /></a>
            </td>
            <td>{{ task.order_num }}</td>
        </tr>
        {% for child in task.get_children(descending=True) if not child.is_deleted or show_deleted %}
            {{ render_task(child, depth+1) }}
        {% endfor %}
        {%- endmacro %}
        {% for task in tasks if not task.is_deleted or show_deleted %}
            {{ render_task(task) }}
        {% endfor %}
        <tfoot>
            <td></td>
            <td>
                <form action="/new" method="post">
                    <input type="text" name="summary" />
                </form>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tfoot>
    </table>
</div>
<div>
    <p><a href="{{ url_for('index') }}">refresh</a></p>
    <p><a href="{{ url_for('index', show_deleted=1) }}">show deleted</a></p>
    <p><a href="{{ url_for('purge_deleted_tasks') }}">purge deleted</a></p>
</div>
</body>
</html>
