{% extends "base.t.html" %}
{% from 'task_table.t.html' import render_task_table %}
{% block content scoped %}
<div>

    {{ render_task_table(tasks_h, root=None, cycle=cycle,
        page_url=url_for('index'),
        child_task_view='view_task',
        show_move_links=True,
        show_new_task_form=True) }}

</div>
<div>
    <p><a href="{{ url_for('index') }}">refresh</a></p>
    <p>
        {%- if show_deleted %}
        <a href="{{ url_for('show_hide_deleted', show_deleted=0) }}">hide deleted</a>
        {% else %}
        <a href="{{ url_for('show_hide_deleted', show_deleted=1) }}">show deleted</a>
        {% endif -%}
    </p>
    {% if user.is_admin %}
    <p><a href="{{ url_for('purge_deleted_tasks') }}">purge deleted</a></p>
    {% endif %}
    <p><a href="{{ url_for('reset_order_nums') }}">reset order numbers</a></p>
    <p><a href="{{ url_for('clear_roots') }}">clear roots</a></p>
    <p>
        <form action="set_roots" method="get">
            <input name="roots" type="text" size="35" value="{{roots if roots}}">
            <input type="submit" value="Set Roots">
        </form>
    </p>
    {% if user.is_admin %}
    <p><a href="{{ url_for('view_options') }}">options</a></p>
    <p><a href="{{ url_for('list_users') }}">users</a></p>
    <p><a href="{{ url_for('export_data') }}">export</a></p>
    <p><a href="{{ url_for('import_data') }}">import</a></p>
    <p><a href="{{ url_for('task_crud') }}">task crud</a></p>
    <p><a href="{{ url_for('view_categories') }}">categories</a></p>
    {% endif %}
</div>
<div>
    <h3>Views</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Roots</th>
            <th></th>
        </tr>
        {% for view in views %}
        <tr>
            <td><a href="{{ url_for('set_view', id=view.id) }}" >{{ view.id }}</a></td>
            <td><a href="{{ url_for('set_view', id=view.id) }}" >{{ view.name }}</a></td>
            <td><a href="{{ url_for('set_view', id=view.id) }}" >{{ view.roots }}</a></td>
            <td></td>
        </tr>
        {% endfor %}
        <form action="{{ url_for('new_view') }}" method="post">
        <tr>
            <td></td>
            <td><input name="view_name" type="text" size="35" maxlength="100"></td>
            <td><input name="view_roots" type="text" size="35" maxlength="100" value="{{roots if roots}}"></td>
            <td><input type="submit" value="Create new view"></td>
        </tr>
        </form>
    </table>
</div>
{% if all_tasks != None %}
<div>
    <h3>Deadlines</h3>
    {{ render_task_table(deadline_tasks, root=None, cycle=cycle,
        page_url=url_for('index'),
        child_task_view='view_task',
        indent=False, show_expected_duration=True) }}
</div>
{% endif %}
{% endblock %}