<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tudor</title>
</head>

<body>
<div>
    <table>
        {% for task in tasks %}
        <tr>
            <td>{{task.id}}</td>
            <td>{{task.summary}}</td>
            <td>
                {% if task.is_done %}
                    done <a href="{{ url_for('task_undo', id=task.id) }}">(undo)</a>
                {% else %}
                    not done <a href="{{ url_for('task_done', id=task.id) }}">(done)</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>
    <form action="/new" method="post">
        <input type="text" name="summary" />
    </form>
</div>
</body>
</html>
