{% extends "base.t.html" %}
{% block title %}{{ super() }} - Tags{% endblock %}
{% block header_sub_text %}Tags{% endblock %}
{% block content %}
<div class="container">
<div>
    <table class="task_children">
        {% set odd_even = cycle(['odd', 'even']).next %}
        <thead>
        <tr>
            <th>ID</th>
            <th>Value</th>
        </tr>
        </thead>
        {% for tag in tags %}
        <tr class="{{ odd_even() }}">
            <td><a href="{{ url_for('view_tag', id=tag.id) }}">{{ tag.id }}</a></td>
            <td><a href="{{ url_for('view_tag', id=tag.id) }}">{{ tag.value }}</a></td>
        </tr>
        {% endfor %}
        <!--<tfoot>-->
            <!--<td></td>-->
            <!--<td>-->
                <!--<form action="{ { url_for('new_tag') }}" method="post">-->
                    <!--<input type="text" name="value" />-->
                    <!--<input type="hidden" name="next_url" value="{ { page_url }}" />-->
                <!--</form>-->
            <!--</td>-->
        <!--</tfoot>-->
    </table>
</div>
</div>
{% endblock %}
