{% extends "base.t.html" %}
{% block title %}{{ super() }} - Login{% endblock %}
{% block header_sub_text %}- Login{% endblock %}
{% block content %}
<div class="container">
  <form action="" method="post" class="form-horizontal">
    <h2>Login</h2>
    <input type="text" id="email" name="email" class="input-xlarge"
        placeholder="Enter Email Address" required>
    <input type="password" id="password" name="password" class="input-xlarge"
        placeholder="Enter Password" required>
    <button type="submit" class="btn btn-success">Signin</button>
  </form>
</div>
{% endblock %}
