{% extends "base.t.html" %}
{% from 'task_table.t.html' import render_task_table %}
{% block title %}{{ super() }} - New Loader Test - Task with children{% endblock %}
{% block content %}
<div>
    <table class="task_info">
        <tr><td>ID</td><td>{{ task.id }}</td></tr>
        <tr><td>Summary</td><td>{{ task.summary|d }}</td></tr>
        <tr><td>Deadline</td><td>{{ task.deadline|d }}</td></tr>
        <tr>
            <td>Done?</td>
            <td>{{ task.is_done }}
                <small>
                    {% if task.is_done %}
                        <a href="{{ url_for('task_undo', id=task.id, next=url_for('view_task', id=task.id)) }}">(mark as not done)</a>
                    {% else %}
                        <a href="{{ url_for('task_done', id=task.id, next=url_for('view_task', id=task.id)) }}">(mark as done)</a>
                    {% endif %}
                </small>
            </td>
        </tr>
        <tr>
            <td>Deleted?</td>
            <td>{{ task.is_deleted }}
                <small>
                    {% if task.is_deleted %}
                        <a href="{{ url_for('undelete_task', id=task.id, next=url_for('view_task', id=task.id)) }}">(undelete)</a>
                    {% else %}
                        <a href="{{ url_for('delete_task', id=task.id, next=url_for('view_task', id=task.id)) }}">(delete)</a>
                    {% endif %}
                </small>
            </td>
        </tr>
        <tr><td>Order #</td><td>{{ task.order_num if task.order_num != None }}</td></tr>
        <tr>
            <td>Parent Task</td>
            <td>
                {% if task.parent_id != None %}
                <a href="{{ url_for('new_loader_task_with_children', id=task.parent_id) }}">{{ task.parent.summary if task.parent != None }} ({{ task.parent_id if task.parent_id != None }})</a>
                {% else %}
                None
                {% endif %}
            </td>
        </tr>
        <tr><td>Description</td><td><div class="task_description">{{ task.description|gfm if task.description != None }}</div></td></tr>
    </table>
    <p><a href="{{ url_for('edit_task', id=task.id) }}">edit</a></p>
</div>
<div>
    <h4>Child Tasks</h4>

    {{ render_task_table(descendants, task, cycle, show_is_done=show_is_done,
        show_is_deleted=show_is_deleted, show_deadline=show_deadline,
        show_order_num=show_order_num) }}
</div>

{% endblock %}