{% extends "base.t.html" %}
{% block title %}Create New Task - {{ super() }}{% endblock %}
{% block link_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.8.0/css/bootstrap-markdown.min.css" rel="stylesheet"/>
{% endblock %}
{% block header_sub_text %}Create New Task{% endblock %}
{% block content %}
<div class="container">
<div>
    <form action="new" method="post" enctype="multipart/form-data">
        <input class="btn btn-primary" type="submit" value="Save"/>
        <a class="btn btn-info" href="{{ prev_url or url_for('index') }}">Back</a>
        <p></p>
        <textarea name="description" rows="12" data-provide="markdown" data-resize="vertical"></textarea>
        <table>
            <tr><td>ID</td><td>(Not yet assigned)</td></tr>
            <tr><td>Summary</td><td><input type="text" name="summary" value="" /></td></tr>
            <tr><td>Deadline</td><td><input type="text" name="deadline" value=""></td></tr>
            <tr><td>Done?</td><td><input type="checkbox" name="is_done" /></td></tr>
            <tr><td>Deleted?</td><td><input type="checkbox" name="is_deleted"/></td></tr>
            <tr><td rowspan="3">Order:</td><td>
                                            <label for="order_type_bottom" class="order-type-radio">
                                                <input type="radio" name="order_type" value="bottom" id="order_type_bottom" checked/>
                                                Bottom of the list
                                            </label>
                                           </td></tr>
            <tr>                           <td>
                                            <label for="order_type_top" class="order-type-radio">
                                                <input type="radio" name="order_type" value="top" id="order_type_top" />
                                                Top of the list
                                            </label>
                                           </td></tr>
            <tr>                           <td>
                                            <label for="order_type_order_num" class="order-type-radio">
                                                <input type="radio" name="order_type" value="order_num" id="order_type_order_num" />
                                                Specific order_num: <input type="text" name="order_num" value="" />
                                            </label>
                                           </td></tr>
            <tr><td>Expected duration (in minutes)</td><td><input type="text" name="expected_duration_minutes" value="" /></td></tr>
            <tr><td>Expected cost</td><td><input type="text" name="expected_cost" value="" /></td></tr>
            <tr><td>Parent ID</td><td><input type="text" name="parent_id" value="{{ parent_id if parent_id != None }}" /></td></tr>
            <tr><td>Public?</td><td><input type="checkbox" name="is_public" /></td></tr>
            <tr><td>Tags</td><td><input type="text" name="tags" value="{{ tags if tags != None}}" /></td></tr>
        </table>
        <p></p>
        <input class="btn btn-primary" type="submit" value="Save"/>
        <a class="btn btn-info" href="{{ prev_url or url_for('index') }}">Back</a>
    </form>
</div>
</div>
{% endblock %}

{% block endbody %}
    {{ super() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.8.0/js/bootstrap-markdown.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
{% endblock %}
