{% extends "base.t.html" %}
{% block title %}{{ super() }} - New Loader Test{% endblock %}
{% block content %}
<div>
    <table class="tasks">
        {% set odd_even = cycle(['odd', 'even']).next %}
        <thead>
        <tr>
            <th>ID</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Deadline</th>
            <th>Done?</th>
            <th>Deleted?</th>
            <th>Order #</th>
            <th>Parent ID</th>
            <th>Depth</th>
            <th># Children</th>
        </tr>
        </thead>
        {% for task in tasks %}
            <tr class="{{ odd_even() }}">
                <td>{{ task.id }}</td>
                <td>{{ task.summary }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.deadline }}</td>
                <td>{{ task.is_done }}</td>
                <td>{{ task.is_deleted }}</td>
                <td>{{ task.order_num }}</td>
                <td>{{ task.parent_id }}</td>
                <td>{{ task.depth }}</td>
                <td>{{ task.children.all()|count }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}