{% extends "base.t.html" %}
{% block title %}{{ super() }} - Options{% endblock %}
{% block content %}
<div>
    <h4>Options</h4>
    <table class="options">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        {% for option in options %}
        <tr>
            <form action="{{ url_for('view_options') }}" method="post">
                <input type="hidden" name="key" value="{{ option.key }}" />
                <td>{{ option.key }}</td>
                <td>
                    <input type="text" name="value" value="{{ option.value }}" />
                </td>
                <td>
                    <a href="{{ url_for('delete_option', key=option.key) }}">
                        <img src="static/delete.png" />
                    </a>
                </td>
            </form>
        </tr>
        {% endfor %}
        <tfoot>
            <form action="{{ url_for('view_options') }}" method="post">
                <td>
                    <input type="text" name="key" />
                </td>
                <td>
                    <input type="text" name="value" />
                </td>
                <td><input type="submit" value="new" /></td>
            </form>
        </tfoot>
    </table>
</div>
<div>
    <p><a href="{{ url_for('index') }}">main</a></p>
</div>
{% endblock %}
