{% extends "base.t.html" %}
{% from 'task_table.t.html' import render_task_table %}
{% block title %}Search - {{ super() }}{% endblock %}
{% block header_sub_text %}Search{% endblock %}
{% block content scoped %}
<div class="container">
<div>
    <form class="form-inline" action="{{ url_for('search') }}" method="post">
        <input type="text" class="form-control" name="query" id="query" placeholder="Search query" value="{{query}}"/>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
    </form>
</div>
<div>
{% if results %}
    <hr>
    {{ render_task_table(results, root=None, cycle=cycle,
        page_url=url_for('search'),
        child_task_view='view_task',
        indent=False,
        show_deadline=True) }}
{% elif query %}
    <hr>
    <p>No results found.</p>
{% endif %}
</div>
</div>
{% endblock %}
