{% extends "base.t.html" %}
{% from 'task_table.t.html' import render_task_table %}
{% block title %}{{ super() }} - {{ task.summary if task.summary != None }}{% endblock %}
{% block content %}
{% for control in view.controls %}
<div>
    {{ control.render(task, user) }}
</div>
{% endfor %}
<div>
</div>
<div>
    <h4>Child Tasks</h4>

    {{ render_task_table(descendants, task, cycle,
        page_url=url_for('view_task', id=task.id),
        child_task_view='view_task',
        show_move_links=True,
        show_new_task_form=True, new_task_parent=task) }}
</div>
<div>
    <h4>Notes</h4>
    <table class="task_notes">
        <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Content</th>
        </tr>
        </thead>
        {% for note in task.notes %}
        <tr>
            <td>{{ note.id }}</td>
            <td>{{ note.timestamp }}</td>
            <td class="note_content">{{ note.content|gfm if note.content != None }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>
                <form action="{{ url_for('new_note') }}" method="post">
                    <input type="hidden" name="task_id" value="{{ task.id }}" />
                    <textarea name="content"></textarea><br/>
                    <input type="submit" value="Add New Note">
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <h4>Attachments</h4>
    <table class="task_attachments">
        <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Filename</th>
            <th>Description</th>
        </tr>
        </thead>
        {% for att in task.attachments %}
        <tr>
            <td>{{ att.id }}</td>
            <td>{{ att.timestamp }}</td>
            <td><a href="{{ url_for('get_attachment', aid=att.id, x=att.filename) }}">{{ att.filename if att.filename != None }}</a></td>
            <td>{{ att.description }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <form action="{{ url_for('new_attachment') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="task_id" value="{{ task.id }}">
                <td>
                    <input type="file" name="filename" />
                </td>
                <td>
                    <input type="text" name="description" maxlength="100" />
                    <input type="submit" value="Attach" />
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}