    {% macro render_task_table(descendants, root, cycle, page_url,
                child_task_view,
                show_is_done=False,
                show_is_deleted=False, show_deadline=True,
                show_order_num=False, show_expected_duration=False,
                show_expected_cost=False,
                show_parent_id=False, show_depth=False, show_move_links=False,
                show_done_links=True, show_delete_links=True,
                show_new_task_form=False, new_task_parent=None,
                indent=True) -%}
    <table class="task_children">
        {% set odd_even = cycle(['odd', 'even']).next %}
        <thead>
        <tr>
            <th>ID</th>
            <th>Summary</th>
            {% if show_deadline %}
                <th>Deadline</th>
            {% endif %}
            {% if show_is_done %}
                <th>Done?</th>
            {% endif %}
            {% if show_done_links %}
                <th>Done</th>
            {% endif %}
            {% if show_is_deleted %}
                <th>Deleted?</th>
            {% endif %}
            {% if show_delete_links %}
                <th>Delete</th>
            {% endif %}
            {% if show_order_num %}
                <th>Order #</th>
            {% endif %}
            {% if show_expected_duration %}
                <th>Expected Duration</th>
            {% endif %}
            {% if show_expected_cost %}
                <th>Expected Cost</th>
            {% endif %}
            {% if show_parent_id %}
                <th>Parent ID</th>
            {% endif %}
            {% if show_depth %}
                <th>Depth</th>
            {% endif %}
            {% if show_move_links %}
                <th>Move</th>
            {% endif %}
        </tr>
        </thead>
        {% for child in descendants if child != root %}
        <tr class="{{ odd_even() }}">
            <td><a href="{{ url_for(child_task_view, id=child.id) }}">{{ child.id }}</a></td>
            {% set depth =
                    (child.depth-1
                        if root != None
                        else child.depth)
                            if indent
                            else 0 %}
            <td style="padding-left: {{depth*1.5}}em" {{ child.get_css_class_attr()|safe }}>
                <a href="{{ url_for(child_task_view, id=child.id) }}">{{ child.summary }}</a>
            </td>
            {% if show_deadline %}
                <td>{{ child.deadline if child.deadline != None }}</td>
            {% endif %}
            {% if show_is_done %}
                <td>{{ child.is_done }}</td>
            {% endif %}
            {% if show_done_links %}
                <td>
                    <small>
                        {% if child.is_done %}
                            <a href="{{ url_for('task_undo', id=child.id, next=page_url) }}">(mark not done)</a>
                        {% else %}
                            <a href="{{ url_for('task_done', id=child.id, next=page_url) }}">(mark done)</a>
                        {% endif %}
                    </small>
                </td>
            {% endif %}
            {% if show_is_deleted %}
                <td>{{ child.is_deleted }}</td>
            {% endif %}
            {% if show_delete_links %}
                <td>
                    <small>
                        {% if child.is_deleted %}
                            <a href="{{ url_for('undelete_task', id=child.id, next=page_url) }}">(undelete)</a>
                        {% else %}
                            <a href="{{ url_for('delete_task', id=child.id, next=page_url) }}">(delete)</a>
                        {% endif %}
                    </small>
                </td>
            {% endif %}
            {% if show_order_num %}
                <td>{{ child.order_num }}</td>
            {% endif %}
            {% if show_expected_duration %}
                <td>{{ child.get_expected_duration_for_viewing() }}</td>
            {% endif %}
            {% if show_expected_cost %}
                <td>{{ child.get_expected_cost_for_viewing() }}</td>
            {% endif %}
            {% if show_parent_id %}
                <td>{{ child.parent_id }}</td>
            {% endif %}
            {% if show_depth %}
                <td>{{ child.depth }}</td>
            {% endif %}
            {% if show_move_links %}
                <td>
                    <a href="{{ url_for('move_task_left', id=child.id, show_deleted=show_deleted, next=page_url) }}"><img src="{{ url_for('static', filename='left_arrow.png') }}" /></a>
                    <a href="{{ url_for('move_task_up', id=child.id, show_deleted=show_deleted, next=page_url) }}"><img src="{{ url_for('static', filename='up_arrow.png') }}" /></a>
                    <a href="{{ url_for('move_task_down', id=child.id, show_deleted=show_deleted, next=page_url) }}"><img src="{{ url_for('static', filename='down_arrow.png') }}" /></a>
                    <a href="{{ url_for('move_task_right', id=child.id, show_deleted=show_deleted, next=page_url) }}"><img src="{{ url_for('static', filename='right_arrow.png') }}" /></a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
        <tfoot>
            <td></td>
            <td>
                {% if show_new_task_form %}
                    <form action="{{ url_for('new_task') }}" method="post">
                        <input type="text" name="summary" />
                        {% if new_task_parent != None %}
                            <input type="hidden" name="parent_id" value="{{ new_task_parent.id }}" />
                        {% endif %}
                        <input type="hidden" name="next_url" value="{{ page_url }}" />
                    </form>
                {% endif %}
            </td>
        </tfoot>
    </table>
    {%- endmacro %}