    {% macro render_task_details(task, user) -%}
    <table class="task_info">
        <tr><td>ID</td><td>{{ task.id }}</td></tr>
        <tr><td>Summary</td><td>{{ task.summary|d }}</td></tr>
        <tr><td>Description</td><td><div class="task_description">{{ task.description|gfm if task.description != None }}</div></td></tr>
        <tr><td>Deadline</td><td>{{ task.deadline|d }}</td></tr>
        <tr>
            <td>Done?</td>
            <td>{{ task.is_done }}
                <small>
                    {% if task.is_done %}
                        <a href="{{ url_for('task_undo', id=task.id, next=url_for('view_task', id=task.id)) }}">(mark as not done)</a>
                    {% else %}
                        <a href="{{ url_for('task_done', id=task.id, next=url_for('view_task', id=task.id)) }}">(mark as done)</a>
                    {% endif %}
                </small>
            </td>
        </tr>
        <tr>
            <td>Deleted?</td>
            <td>{{ task.is_deleted }}
                <small>
                    {% if task.is_deleted %}
                        <a href="{{ url_for('undelete_task', id=task.id, next=url_for('view_task', id=task.id)) }}">(undelete)</a>
                    {% else %}
                        <a href="{{ url_for('delete_task', id=task.id, next=url_for('view_task', id=task.id)) }}">(delete)</a>
                    {% endif %}
                </small>
            </td>
        </tr>
        <tr><td>Order #</td><td>{{ task.order_num if task.order_num != None }}</td></tr>
        <tr>
            <td>Parent Task</td>
            <td>
                {% if task.parent_id != None %}
                <a href="{{ url_for('view_task', id=task.parent_id) }}">{{ task.parent.summary if task.parent != None }} ({{ task.parent_id if task.parent_id != None }})</a>
                {% else %}
                None
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>{% for tag in task.tags %}{{ tag.value }}<a href="{{ url_for('delete_tag_from_task', id=task.id, value=tag.value) }}"><img src="{{ url_for('static', filename='delete.png') }}" /></a> {% endfor %}
                <form action="{{ url_for('add_tag_to_task', id=task.id) }}" method="post">
                    <input type="text" name="value" />
                    <input type="hidden" name="next_url"
                           value="{{ url_for('view_task', id=task.id) }}" />
                </form>
            </td>
        </tr>
    </table>
    {%- endmacro %}