{% extends "base.t.html" %}
{% from 'task_table.t.html' import render_task_table %}
{% block title %}{{ super() }} - {{ task.summary if task.summary != None }}{% endblock %}
{% block content %}
<div>
    <table class="task_info">
        <tr><td>ID</td><td>{{ task.id }}</td></tr>
        <tr><td>Summary</td><td>{{ task.summary|d }}</td></tr>
        <tr><td>Description</td><td><div class="task_description">{{ task.description|gfm if task.description != None }}</div></td></tr>
        <tr><td>Deadline</td><td>{{ task.deadline|d }}</td></tr>
        <tr>
            <td>Done?</td>
            <td>{{ task.is_done }}
                <small>
                    {% if task.is_done %}
                        <a href="{{ url_for('task_undo', id=task.id, next=url_for('view_task', id=task.id)) }}">(mark as not done)</a>
                    {% else %}
                        <a href="{{ url_for('task_done', id=task.id, next=url_for('view_task', id=task.id)) }}">(mark as done)</a>
                    {% endif %}
                </small>
            </td>
        </tr>
        <tr>
            <td>Deleted?</td>
            <td>{{ task.is_deleted }}
                <small>
                    {% if task.is_deleted %}
                        <a href="{{ url_for('undelete_task', id=task.id, next=url_for('view_task', id=task.id)) }}">(undelete)</a>
                    {% else %}
                        <a href="{{ url_for('delete_task', id=task.id, next=url_for('view_task', id=task.id)) }}">(delete)</a>
                    {% endif %}
                </small>
            </td>
        </tr>
        <tr><td>Order #</td><td>{{ task.order_num if task.order_num != None }}</td></tr>
        <tr>
            <td>Parent Task</td>
            <td>
                {% if task.parent_id != None %}
                <a href="{{ url_for('view_task', id=task.parent_id) }}">{{ task.parent.summary if task.parent != None }} ({{ task.parent_id if task.parent_id != None }})</a>
                {% else %}
                None
                {% endif %}
            </td>
        </tr>
        <tr><td>Tags</td><td>{% for tag in task.tags %}{{ tag.value }} {% endfor %}</td></tr>
    </table>
    <p><a href="{{ url_for('edit_task', id=task.id) }}">edit</a></p>
</div>
<div>
    <p><a href="{{ url_for('index') }}">main</a></p>
</div>
<div>
    <h4>Child Tasks</h4>

    {{ render_task_table(descendants, task, cycle,
        page_url=url_for('view_task', id=task.id),
        child_task_view='view_task',
        show_move_links=True,
        show_new_task_form=True, new_task_parent=task) }}
</div>
<div>
    <h4>Notes</h4>
    <table class="task_notes">
        <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Content</th>
        </tr>
        </thead>
        {% for note in task.notes %}
        <tr>
            <td>{{ note.id }}</td>
            <td>{{ note.timestamp }}</td>
            <td class="note_content">{{ note.content|gfm if note.content != None }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>
                <form action="{{ url_for('new_note') }}" method="post">
                    <input type="hidden" name="task_id" value="{{ task.id }}" />
                    <textarea name="content"></textarea><br/>
                    <input type="submit" value="Add New Note">
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <h4>Attachments</h4>
    <table class="task_attachments">
        <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Filename</th>
            <th>Description</th>
        </tr>
        </thead>
        {% for att in task.attachments %}
        <tr>
            <td>{{ att.id }}</td>
            <td>{{ att.timestamp }}</td>
            <td><a href="{{ url_for('get_attachment', aid=att.id, x=att.filename) }}">{{ att.filename if att.filename != None }}</a></td>
            <td>{{ att.description }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <form action="{{ url_for('new_attachment') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="task_id" value="{{ task.id }}">
                <td>
                    <input type="file" name="filename" />
                </td>
                <td>
                    <input type="text" name="description" maxlength="100" />
                    <input type="submit" value="Attach" />
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}