    {% macro render_task_table(descendants, root, cycle, show_is_done=True,
                show_is_deleted=True, show_deadline=True) -%}
    <table class="task_children">
        {% set odd_even = cycle(['odd', 'even']).next %}
        <thead>
        <tr>
            <th>ID</th>
            <th>Summary</th>
            {% if show_deadline %}
                <th>Deadline</th>
            {% endif %}
            {% if show_is_done %}
                <th>Done?</th>
            {% endif %}
            {% if show_is_deleted %}
                <th>Deleted?</th>
            {% endif %}
            <th>Order #</th>
            <th>Parent ID</th>
            <th>Depth</th>
        </tr>
        </thead>
        {% for child in descendants if child != root %}
        <tr class="{{ odd_even() }}">
            <td><a href="{{ url_for('new_loader_task_with_children', id=child.id) }}">{{ child.id }}</a></td>
            <td style="padding-left: {{(child.depth-1)*1.5}}em" {{ child.get_css_class_attr()|safe }}>
                <a href="{{ url_for('new_loader_task_with_children', id=child.id) }}">{{ child.summary }}</a>
            </td>
            {% if show_deadline %}
                <td>{{ child.deadline }}</td>
            {% endif %}
            {% if show_is_done %}
                <td>{{ child.is_done }}</td>
            {% endif %}
            {% if show_is_deleted %}
                <td>{{ child.is_deleted }}</td>
            {% endif %}
            <td>{{ child.order_num }}</td>
            <td>{{ child.parent_id }}</td>
            <td>{{ child.depth }}</td>
        </tr>
        {% endfor %}
        <tfoot>
            <td></td>
            <td>
                <form action="{{ url_for('new_task') }}" method="post">
                    <input type="text" name="summary" />
                    <input type="hidden" name="parent_id" value="{{ root.id }}" />
                    <input type="hidden" name="next_url" value="{{ url_for('view_task', id=root.id) }}" />
                </form>
            </td>
        </tfoot>
    </table>
    {%- endmacro %}