{% extends "base.t.html" %}
<!--{ % from 'task_table.t.html' import render_task_table % }-->
{% block title %}{{ super() }} - Categories{% endblock %}
{% block content %}
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
    </tr>
    </thead>
{% for category in categories %}
    <tr>
        <td><a href="{{ url_for('view_category', id=category.id) }}">{{ category.id }}</a></td>
        <td><a href="{{ url_for('view_category', id=category.id) }}">{{ category.name }}</a></td>
        <td><a href="{{ url_for('view_category', id=category.id) }}">{{ category.description }}</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}